@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html {
    background-color: #2b2d42;
}

a,
a:visited {
    text-decoration: none;
    color: #023047;
}

header nav ul {
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6), 0px 2px 2px rgba(34,34,34,0.6);
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 125%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 40% 10%;
    justify-items: center;
    padding: 20px;
    background-color: #d90429;
}

.search-box {
    grid-column-start: 5;
}

input, textarea {
    border: 1px solid #8d99ae;
    border-radius: 4px;
    padding: 5px;
    background-color: #edf2f4;
}

button {
    background-color: #2b2d42;
    border: 2px solid transparent;
    border-radius: 4px;
    color: rgb(193, 193, 193);
    padding: 4px;
    text-transform: uppercase;
}

button:hover {
    background-color: #555981;
    border-color: #124399;
    color: #99a4b9;
}

button:active {
    background-color: #7c81b6;
}

.page-title {
    text-align: center;
    color: #edf2f4;
}

.body-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.film-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.film-card {
    background-color: #8d99ae;
    max-width: 530px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 220px, 1fr;
    margin: 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.film-card:hover {
    background-color: #9facc2;
    box-shadow: 6px 8px 8px 0 rgba(0, 0, 0, 0.2);

}

.film-title {
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
}

.film-director {
    text-align: center;
}

.film-card-right {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    grid-column-start: 2;
}

.film-poster {
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    border-radius: 20px;
}

/* .film-detail-page {
    display: grid;
    grid-template-columns: ;
} */

.film-detail-box {
    display: grid;
    grid-template-columns: 300px, 1fr;
    min-width: 500px;
    max-width: 1000px;
    background-color: #8d99ae;
    border-radius: 20px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.film-poster-large {
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    border-radius: 20px;
}

.film-title-detail {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

.film-genres {
    padding-bottom: 10px;
}

.film-review-title {
    font-size: 130%;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 30px;
}

.film-review-new {
    margin-left: 30px;
}

.film-review {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 500px;
    border-top: solid 1px #2b2d42;
}
