{% extends "search.html" %}

{% block content %}
    <main>
        <h1 class="page-title">Your Watchlist ({{ total_watchlist_items }})</h1>
        <div class="body-area">
            <div class="film-list">
                {% for item in page_obj %}
                <a class="film-card" href="{% url "detail_film_url" pk=item.film.id %}">
                    {% if item.film.poster %}
                    <img class="film-poster" src="{{ item.film.poster }}">
                    {% endif %}
                    <div class="film-card-right">
                        <div class="film-title">{{ item.film.title }} ({{ item.film.year }})</div>
                        <div class="film-director">{{ item.film.director }}</div>
                        <p>{{ item.film.plot_summary }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
