{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Are you sure you want to delete</h1>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Yes">
            </form>
        </div>
    </main>
{% endblock content %}