{% extends "base.html" %}

{% block content %}
    <main class="body-area">
        <div class="film-detail-box">
            {% if film.poster %}
                {% if film.trailer %}
                    <a href="{{ film.trailer }}" target="_blank">
                        <img class="film-poster-large" src="{{ film.poster }}">
                    </a>
                {% else %}
                    <img class="film-poster-large" src="{{ film.poster }}">
                {% endif %}
            {% endif %}
            <div class="film-card-right">
                <div class="film-title-detail">{{ film.title }} ({{ film.year }})</div>
                <div class="film-director">{{ film.director }}</div>
                <p>{{ film.plot_summary }}</p>
                <div class="film-genres">
                    {% for genre in film.genres.all %}
                        {{ genre }}
                        {% if not forloop.last %}- {% endif %}
                    {% endfor %}
                </div>
                {% if user.is_staff %}
                    <a href="{% url "delete_film_url" pk=film.id %}">Streichen</a>
                    <a href="{% url "edit_film_url" pk=film.id %}">Bearbeiten</a>
                    <a href="{% url "new_watchlist_item_url" pk=film.id %}">Zu Watchlist hinzfügen</a>
                {% endif %}
                <div class="film-review-title">
                    Filmkritiken ({{ film.review.all | length }})
                </div>
                {% if user.is_authenticated %}
                    <div class="film-review-new">
                        <a href="{% url "create_review_url" pk=film.id %}">Neue Filmkritik schreiben</a>
                    </div>
                {% endif %}
                {% for review in film.review.all %}
                    <div class="film-review">
                        <div>{{ review.content }}</div>
                        <div>von {{ review.reviewer | upper}}: {{ review.rating }}/10</div>
                        {% if user == review.reviewer %}
                            <a href="{% url "eidt_review_url" pk=review.id %}">Bearbeiten</a>
                            <a href="{% url "delete_review_url" pk=review.id %}">Streichen</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}