{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Edit Film</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
{% endblock content %}