{% extends "search.html" %}

{% block content %}
    <main>
        <h1 class="page-title">Alle Filme ({{ total_films }})</h1>
        <div class="body-area">
            <div class="film-list">
                {% for film in page_obj %}
                <a class="film-card" href="{% url "detail_film_url" pk=film.id %}">
                    {% if film.poster %}
                    <img class="film-poster" src="{{ film.poster }}">
                    {% endif %}
                    <div class="film-card-right">
                        <div class="film-title">{{ film.title }} ({{ film.year }})</div>
                        <div class="film-director">{{ film.director }}</div>
                        <p>{{ film.plot_summary }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}